H1 {
    text-align: center
}
h2 {
    text-align: center
}
.block {
    padding: 20px 50% 50px 20%;
    background: url('../img/foto.jpg');
    background-position: 70% 0;
    background-repeat: no-repeat;
    background-size: 120px 150px;
}
.txt {
    padding: 20px 20% 20px 20%;
font-size: 22px;
}
span {
font-weight: 700;
}