@font-face {
	font-family: 'Simplo-Caps-DEMO';
	src: url('../fonts/Simplo-Caps-DEMO.eot');
	src: local('☺'), url('../fonts/Simplo-Caps-DEMO.woff') format('woff'), url('../fonts/Simplo-Caps-DEMO.ttf') format('truetype'), url('../fonts/Simplo-Caps-DEMO.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'segoe-boot';
	src: url('../fonts/segoe-boot-semilight.eot');
	src: local('☺'), url('../fonts/segoe-boot-semilight.woff') format('woff'), url('../fonts/segoe-boot-semilight.ttf') format('truetype'), url('../fonts/segoe-boot-semilight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'optima';
	src: url('../fonts/optima-1.eot');
	src: local('☺'), url('../fonts/optima-1.woff') format('woff'), url('../fonts/optima-1.ttf') format('truetype'), url('../fonts/optima-1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'segoe-wp';
	src: url('../fonts/segoe-wp.eot');
	src: local('☺'), url('../fonts/segoe-wp.woff') format('woff'), url('../fonts/segoe-wp.ttf') format('truetype'), url('../fonts/segoe-wp.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'segoe-wpn';
	src: url('../fonts/segoe-wp-n.eot');
	src: local('☺'), url('../fonts/segoe-wp-n.woff') format('woff'), url('../fonts/segoe-wp-n.ttf') format('truetype'), url('../fonts/segoe-wp-n.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'segoe-wp-black';
	src: url('../fonts/segoe-wp-black.eot');
	src: local('☺'), url('../fonts/segoe-wp-black.woff') format('woff'), url('../fonts/segoe-wp-black.ttf') format('truetype'), url('../fonts/segoe-wp-black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
body {font-family: 'segoe-boot';
    text-align: center;
    height: 100%;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.main{
    flex: 1 1 auto;
}
.header {
    border-bottom:1px solid #E5E5E5;
}
.header_element {
    display: flex;
    justify-content:space-around;
    flex-wrap:wrap;
}
.header_logo {
    display: flex;
    flex-wrap:wrap;
    align-items:center;
}
.header_logo_element1 {
    font-size: 42px;
    color: #595959;
}
.header_logo_element3 {
    font-size: 42px;
    color: #313131;
}
#header_logo_element2 {
    background: #6DD025;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.header_menu {
    display: flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
}
.header_menu__itemelement1 {
    background-color: #373737;
    padding: 10px 20px;
    opacity:1;
    color:#FFFFFF;
    font-family:s;
    font-size:23px;
}
.header_menu__itemelement2 {
    padding: 10px 20px;
    opacity:1;
    color:#000000;
    font-family:'segoe-wp';
    font-size:23px;
}
.header_menu__itemelement3 {
    padding: 10px 20px;
    opacity:1;
    color:0#000000;
    font-family:'segoe-wp';
    font-size:23px;
}
.header_menu__itemelement4 {
    padding: 10px 20px;
    opacity:1;
    color:#000000;
    font-family:'segoe-wp';
    font-size:23px;
}
.titleblock {
    display: flex;
    flex-wrap:wrap;
    margin: 116px 0 0 20%;
    align-items:center;
    text-align: left;
}  
h1 {font-size:71px; color: #5D5D5D;}
h2 {font-size:65px; color: #5D5D5D;}
.titleblock_txt2 {
    background-color: #373737;
    padding: 10px 20px;
    opacity:1;
    color:#FFFFFF;
    font-family:'segoe-wp';
    align-items:center;
    width: 140px
}
.content{
    max-width: 1030px;
    margin: 0 auto;
}
.block { 
    display: flex;
    flex-wrap:wrap;
}
.block_txt{
    margin: 0px 20px 0px 0px ; 
}
.block_txt_title {
    display: flex;
    max-width: 677px;
}
.block_txt_title_baner {
    background-color: #969090; 
    min-width: 308px;
    min-height: 242px; 
    max-width: 308px;
    max-height: 242px;
    display:flex;
    justify-content:center;
    align-items:center; 
    margin: 25px 30px ;  
}
.block_txt_title_baner_element {
    margin:10px ;
}
.block_txt_title_txt_p {
    text-align: right;
}
h3 {
    text-align: left; 
}
p {
    text-align: justify;
    font-size:14px
}
.block_txt_title_txt_p_baton {
    display: inline-flex;
}  
.block_txt_title_txt_p_baton1 {
    background-color: #575353;
    padding: 2px 5px 2px 5px; 
    margin: 1px;
}
.block_txt_title_txt_p_baton2  {
    background-color: #969090;
    padding: 2px 5px 2px 5px;  
    margin: 1px;
}
   
.block_txt_colum {      
    max-width: 677px;
}
.block_txt_colum_ {
    display: flex;  
    flex-wrap:wrap;   
}
.block_txt_colum_row {
    flex: 0 1 33.333%      
}
.mer {
    padding: 5px;
} 
.block_baner_1 {
    border: 1px solid #E5E1E1;
    min-width: 320px;
    min-height: 250px;
    max-width: 320px;
    max-height: 250px;
    margin: 0 0 50px 0;
}            
.h4 {
    font-size: 21px;
    line-height: 27px;
    font-weight: 400;
    color: #9ba08d;
    margin: 20px 0 5px 0;
}  
.h5 {
    font-size: 39px;
    line-height: 39px;
    font-weight: 700;
    color: #b8dc58;
    margin: 0 0 5px 0;
}         
                    
.block_baner_pic {
     display: flex;
}  
 .img1 {margin: 0 0 0 40px ;}    
 .img2 {margin: 57px 0 0 -35px;}  
 .img3 {margin:  110px 0 0 30px;}  
.block_baner_2{
    margin:  0px 0 48px 0 ;
}
 
 
.baner_2_block {
    width: 319px;
    height: 271px;
    background-color: #86e7f0;  
}
.baner_2_colo {
     background-color: #ef809f;
     width: 120px;
     height: 120px;
     border: 5px solid #ffffff;
     border-radius: 65px;
     position: relative;
     z-index: 1;
     margin: -300px auto 30px auto;
     padding: auto;
}
.txt12 {
    margin: -3px auto 0px auto;
    font-family: 'segoe-wp-black';
    font: 900;
    font-size: 72px;
    color: #ffffff;
}
.txt_week {
    font-family:'segoe-wp';
    font-size: 28px;
    color: #ffffff; 
    margin: -17px auto 0px auto; 
}
h6 {
    font-family:'Simplo-Caps-DEMO';
    font-size: 46px;
    color: #ffffff;
    margin: -13px auto 0px auto; 
}
.baner_2_txt2 {
    font-size: 23.5px;
    color: #ffffff;
    line-height: 28px;
    font-weight: 500; 
    margin: 0 auto 15px auto;  
}
.baner_2_txt3 {
    font-size: 20.2px;
    font-weight: 500;
    color: #ffffff;
    background-color: #58d1dc;
    padding: 5px 0px;
    width: 179px;
    border-radius: 5px;
    font-family:'optima';
}
.baner_2_3 {
    margin: 0 75px;
}
.block_baner_3{
    width: 319px;
    height: 265px;
    background-color: #393a39;
    padding: 24px 0px 0px 0px;
    max-width: 319px;
}
.block_baner_3_1{
    font-size: 27px;
    line-height: 27px;
    font-weight: 300;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 0px 17px 0px;
}
.block_baner_3_2{
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    margin: 0 31px 15px 31px;
}
.block_baner_3_3{
    margin: 0 0px 12px 0px;
}
.block_baner_3_4{
    margin: 0 0px 12px 0px;
}
.block_baner_3_5{
    background-color: #bb4465;
    padding: 5px 0px;
    margin: 0 75px;
    width: 179px;
    border-radius: 5px;
    font-size: 20.2px;
    color: #ffffff;
    font-family:'optima';
}
#user{
    width: 257px;
    height: 26px;
}
.conteiner{
    display: flex;
}
.footer_conteiner{
    background-color: #393a39;
    height: 55px;
    padding: 29px 0 0 0;  
}
.footer_txt{
    color: #ffffff;
    margin: 0 auto;
}
.footer_ikon{
    display: flex;
   margin: 0 4%;
}
.icon2{
    margin: 0 16px;
}
